body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fde6ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 350px;
}

.card {
  display: none;
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card.active {
  display: block;
}

.heart {
  font-size: 50px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button.yes {
  background: #ff2f92;
}

.tap {
  color: #777;
}
.title {
  color: #b0004d;
  font-weight: bold;
}

.subtitle {
  color: #444;
  margin-bottom: 10px;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 15px 0;
}

.image-grid img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 14px;
}

.footer-text {
  margin-top: 10px;
  color: #b0004d;
  font-weight: 600;
}
